.idea/Euromaster.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/Colors.cpython-34.pyc
__pycache__/Variables.cpython-34.pyc